@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Savate:ital,wght@0,200..900;1,200..900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: #faebd7;
    text-align: center;
}

.card {
    background-color: white;
    width: 25%;
    display: inline-block;
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
    height: 350px;
    padding-bottom: 20px;
    margin: 10px;
}

.card img {
    width: 100%;
    height: 250px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

h1 {
    font-size: 60px;
    color: #B22222;
    text-decoration: underline;
}

.menuitem {
    margin: 65px;
    color:#B22222;
    padding: 15px 30px;
    box-shadow: 2px 2px 11px;
    border-radius: 29px;
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    width: 10%;
    transition: 0.3s;
}

.menuitem:hover {
    background-color: #B22222;
    color:#faebd7;
}

h2 {
    font-size: 33px;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color:#B22222
}

tr {
    font-size: 15px;
    text-align: center;
}

th {
    padding: 20px 60px 10px;
    height: 20px;
    font-size: 15px;
    text-shadow: 1px 1px 2px black; 
    color: rgb(196, 0, 0);
    width: 30%;
    background-color: #ffba5f;
}

table {
    width: 80%;
    margin: 50px auto;
    border-collapse: collapse;
}

td {
    padding: 20px 60px 10px; 
    background-color: rgb(255, 231, 222);
    border-bottom: 1px solid rgb(0, 0, 0);
    border-left: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
}

.dishes {
    width: 75%;
}

.price {
    width: 20%;
    min-width: 150px;
}